@using WebUI.Models;
@model  Tuple<ProposalHeader, List<ProposalContext>>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            //start of the document ready function
            //delcaring global variable to hold primary key value.
            var headerId;
            $('.btn-delete-header').click(function () {
                headerId = $(this).attr('id');
                $('#myModal').modal('show');
            });

            $('.delete-confirm').click(function () {
                if (headerId != '') {
                    $.ajax({
                        url: '/Proposal/DeleteProposalHeader',
                        data: { 'headerId': headerId },
                        type: 'get',
                        success: function (data) {
                            if (data) {

                                if ($('.modal-header').hasClass('alert-danger')) {
                                    $('.modal-header').removeClass('alert-danger').addClass('alert-success');
                                    $('.delete-confirm').css('display', 'none');
                                }
                                $('#myModal').modal('hide');
                                location.reload();
                            }
                        }, error: function (err) {
                            if (!$('.modal-header').hasClass('alert-danger')) {
                                $('.modal-header').removeClass('alert-success').addClass('alert-danger');
                                $('.delete-confirm').css('display', 'none');
                            }
                            $('.success-message').html(err.statusText);
                        }
                    });
                }
            });


            $("#myModal").on("hidden.bs.modal", function () {
                $(".modal-header").removeClass(' ').addClass('alert-danger');
                $('.delete-confirm').css('display', 'inline-block');
                $('.success-message').html('').html('Kaydı silmek istediğinize emin misiniz?');
            });

        });




    </script>


    <script>

        $(document).ready(function () {
            //start of the document ready function
            //delcaring global variable to hold primary key value.
            var contextId;
            $('.btn-delete-context').click(function () {
                contextId = $(this).attr('id');
                $('#myModal').modal('show');
            });

            $('.delete-confirm').click(function () {
                if (contextId != '') {
                    $.ajax({
                        url: '/Proposal/DeleteProposalContext',
                        data: { 'contextId': contextId },
                        type: 'get',
                        success: function (data) {
                            if (data) {

                                if ($('.modal-header').hasClass('alert-danger')) {
                                    $('.modal-header').removeClass('alert-danger').addClass('alert-success');
                                    $('.delete-confirm').css('display', 'none');
                                }
                                $('#myModal').modal('hide');
                                location.reload();
                            }
                        }, error: function (err) {
                            if (!$('.modal-header').hasClass('alert-danger')) {
                                $('.modal-header').removeClass('alert-success').addClass('alert-danger');
                                $('.delete-confirm').css('display', 'none');
                            }
                            $('.success-message').html(err.statusText);
                        }
                    });
                }
            });


            $("#myModal").on("hidden.bs.modal", function () {
                $(".modal-header").removeClass(' ').addClass('alert-danger');
                $('.delete-confirm').css('display', 'inline-block');
                $('.success-message').html('').html('Kaydı silmek istediğinize emin misiniz?');
            });

        });

    </script>
</head>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Öneriler Üst Kısım</h4> <input type="button" class="btn btn-success btn-rounded btn-fw" value="Ekle" onclick="@("window.location.href='" + @Url.Action("AddProposalHeader", "Proposal") + "'");" />
            <p class="card-description">

            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Başlık</th>
                            <th>Açıklama</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            @{
                                if (@Model.Item1 != null)
                                {
                                    <td>@Model.Item1.Id</td>
                                    <td>@Model.Item1.name</td>
                                    <td>@Model.Item1.description</td>
                                    <td><a href="@Url.Action("EditProposalHeader","Proposal", new {id=Model.Item1.Id})" class="btn btn-primary btn-rounded btn-fw">Düzenle</a> <a href="javascript:void(0)" id="@Model.Item1.Id" class="btn btn-danger btn-rounded btn-fw btn-delete-header">Sil</a> </td>

                                }
                            }

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Öneriler Alt Kısım</h4> <input type="button" class="btn btn-success btn-rounded btn-fw" value="Ekle" onclick="@("window.location.href='" + @Url.Action("AddProposalContext", "Proposal") + "'");" />
            <p class="card-description">

            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Başlık</th>
                            <th>Hakkında</th>
                            <th>Resim Yolu</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Item2)
                        {
                            <tr>

                                <td>@item.Id</td>
                                <td>@item.name</td>
                                <td>@item.description</td>
                                <td>@item.imagePath</td>

                                <td><a href="@Url.Action("EditProposalContext","Proposal", new {id=item.Id})" class="btn btn-primary btn-rounded btn-fw">Düzenle</a> <a href="javascript:void(0)" id="@item.Id" class="btn btn-danger btn-rounded btn-fw btn-delete-context">Sil</a> </td>

                            </tr>
                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-danger">

                <h4 class="modal-title" id="myModalLabel">Bilgi Kutusu</h4>
            </div>
            <div class="modal-body">
                <p class="success-message">Kaydı silmek istediğinize emin misiniz? </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success delete-confirm">Evet</button>
                <button class="btn btn-default" data-dismiss="modal">İptal</button>
            </div>
        </div>
    </div>
</div>






